In [ ]:
For this lab, we will be using the dataset in the Customer Analysis Business Case. This dataset can be found in `files_for_lab` folder. In this lab we will explore categorical data.

### Instructions

1. Import the necessary libraries if you are starting a new notebook.
Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

2. Find  all of the categorical data.  Save it in a categorical_df variable.

3. Check for NaN values.

4. Check all unique values of columns.

5. Check dtypes. Do they all make sense as categorical data?

6. Does any column contain alpha and numeric data?  Decide how to clean it.

7. Would you choose to do anything else to clean or wrangle the categorical data?  Comment your decisions.

8. Compare policy_type and policy.  What information is contained in these columns.  Can you identify what is important?  

9. Check number of unique values in each column, can they be combined in any way to ease encoding?  Comment your thoughts and make those changes.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
import math
import datetime
from sklearn import linear_model 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.metrics import classification_report, f1_score, cohen_kappa_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.metrics import cohen_kappa_score
from imblearn.over_sampling import SMOTE

In [2]:
%matplotlib inline

In [5]:
pd.set_option('display.max_columns',None)

In [37]:
customer_df = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')

In [38]:
def stHead(df):
    new_header = []
    for h in df.columns:
        x = h.lower().replace(' ','_')
        new_header.append(x)
    df.columns = new_header

In [39]:
stHead(customer_df)
customer_df.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [40]:
customer_df['effective_to_date']=pd.to_datetime(customer_df['effective_to_date'])
customer_df.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

# Separating categorical data

In [41]:
categoricals = customer_df.select_dtypes([object])
categoricals.head(20)

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
5,OC83172,Oregon,Yes,Basic,Bachelor,Employed,F,Rural,Married,Personal Auto,Personal L3,Offer2,Web,Two-Door Car,Medsize
6,XZ87318,Oregon,Yes,Basic,College,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Four-Door Car,Medsize
7,CF85061,Arizona,No,Premium,Master,Unemployed,M,Urban,Single,Corporate Auto,Corporate L3,Offer1,Agent,Four-Door Car,Medsize
8,DY87989,Oregon,Yes,Basic,Bachelor,Medical Leave,M,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Agent,Four-Door Car,Medsize
9,BQ94931,Oregon,No,Extended,College,Employed,F,Urban,Married,Special Auto,Special L2,Offer2,Branch,Four-Door Car,Medsize
10,SX51350,California,No,Basic,College,Unemployed,M,Suburban,Single,Personal Auto,Personal L3,Offer1,Agent,Four-Door Car,Small
11,VQ65197,California,No,Basic,College,Unemployed,F,Suburban,Married,Personal Auto,Personal L3,Offer2,Agent,SUV,Medsize
12,DP39365,California,No,Premium,Master,Employed,M,Urban,Married,Corporate Auto,Corporate L1,Offer2,Agent,Four-Door Car,Medsize
13,SJ95423,Arizona,Yes,Basic,High School or Below,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer2,Branch,SUV,Medsize
14,IL66569,California,No,Basic,College,Employed,M,Urban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Four-Door Car,Medsize
15,BW63560,Oregon,No,Basic,Bachelor,Employed,F,Rural,Married,Corporate Auto,Corporate L2,Offer2,Branch,Four-Door Car,Medsize
16,FV94802,Nevada,No,Basic,High School or Below,Medical Leave,M,Suburban,Married,Personal Auto,Personal L3,Offer2,Call Center,Two-Door Car,Medsize
17,OE15005,California,No,Basic,College,Medical Leave,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Call Center,SUV,Medsize
18,WC83389,Oregon,No,Basic,College,Employed,M,Urban,Married,Personal Auto,Personal L2,Offer2,Branch,Four-Door Car,Medsize
19,FL50705,California,No,Premium,High School or Below,Employed,F,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,Four-Door Car,Small

# Check for NaN values.

In [42]:
customer_df.isna().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
dtype: int64

# Check all unique values of columns.

In [43]:
categoricals.columns

Index(['customer', 'state', 'response', 'coverage', 'education',
       'employmentstatus', 'gender', 'location_code', 'marital_status',
       'policy_type', 'policy', 'renew_offer_type', 'sales_channel',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

In [61]:
categoricals['state'].value_counts(dropna=False)

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: state, dtype: int64

In [62]:
categoricals['response'].value_counts(dropna=False)

No     7826
Yes    1308
Name: response, dtype: int64

In [63]:
categoricals['coverage'].value_counts(dropna=False)

Basic       5568
Extended    2742
Premium      824
Name: coverage, dtype: int64

In [64]:
categoricals['education'].value_counts(dropna=False)

Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: education, dtype: int64

In [65]:
categoricals['employmentstatus'].value_counts(dropna=False)

Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: employmentstatus, dtype: int64

In [66]:
categoricals['gender'].value_counts(dropna=False)

F    4658
M    4476
Name: gender, dtype: int64

In [67]:
categoricals['location_code'].value_counts(dropna=False)

Suburban    5779
Rural       1773
Urban       1582
Name: location_code, dtype: int64

In [68]:
categoricals['marital_status'].value_counts(dropna=False)

Married     5298
Single      2467
Divorced    1369
Name: marital_status, dtype: int64

In [69]:
categoricals['policy_type'].value_counts(dropna=False)

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: policy_type, dtype: int64

In [70]:
categoricals['policy'].value_counts(dropna=False)

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: policy, dtype: int64

In [71]:
categoricals['renew_offer_type'].value_counts(dropna=False)

Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: renew_offer_type, dtype: int64

In [72]:
categoricals['sales_channel'].value_counts(dropna=False)

Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: sales_channel, dtype: int64

In [73]:
categoricals['vehicle_class'].value_counts(dropna=False)

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: vehicle_class, dtype: int64

In [74]:
customer_df['vehicle_size'].unique()

array(['Medsize', 'Small', 'Large'], dtype=object)

# Checking dtypes.

In [31]:
categoricals.dtypes

customer            object
state               object
response            object
coverage            object
education           object
employmentstatus    object
gender              object
location_code       object
marital_status      object
policy_type         object
policy              object
renew_offer_type    object
sales_channel       object
vehicle_class       object
vehicle_size        object
dtype: object

They all make sense as categorical variables.

# Does any column contain alpha and numeric data?  Decide how to clean it.

Two variables contain alphanumeric caracters: renew_offer_type and policy.

In [86]:
categoricals2 = categoricals.copy()

def clean_offer_type(df):   #JORDI, TENEMOS QUE HABLAR DE ESTA PIFIA QUE HE HECHO AQU. LA HE ARREGLADO DE OTRA FORMA PERO ME HUBIERA GUSTADO QUE ESTA SALIERA. 
    for x in df.columns:
        if x == 'Personal L1' or x == 'Personal L2' or x == 'Personal L3':
            return Personal
        elif x == 'Corporate L1' or x == 'Corporate L2' or x == 'Corporate L3':
            return 'Corporate'
        else:
            return 'Special'

categoricals1['policy'] = categoricals1['policy'].apply(clean_offer_type)

In [87]:
categoricals1.head()    #Repasar la funcin pq esta no funciona.

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Special,Special,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Special,Special,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Special,Special,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Special,Special,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Special,Special,Agent,Four-Door Car,Medsize

In [84]:
categoricals1['policy'].value_counts(dropna=False)

Special    9134
Name: policy, dtype: int64

In [90]:
categoricals2['policy'] = np.where(categoricals2['policy'].isin(['Personal L1','Personal L2','Personal L3']) , 'Personal', categoricals2['policy'])

In [92]:
categoricals2['policy'] = np.where(categoricals2['policy'].isin(['Corporate L1','Corporate L2','Corporate L3']) , 'Corporate', categoricals2['policy'])

In [93]:
categoricals2['policy'] = np.where(categoricals2['policy'].isin(['Special L1','Special L2','Special L3']) , 'Special', categoricals2['policy'])

In [94]:
categoricals2['policy'].value_counts(dropna=False)

Personal     6788
Corporate    1968
Special       378
Name: policy, dtype: int64

# Would you choose to do anything else to clean or wrangle the categorical data?  Comment your decisions.

It could be advisable to reduce the number of categories because we have many categorical columns with many categories each and it could make the dummification process more cumbersome. Also, interesting to increase the number of observations in the less populated categories. Depending on what is needed:
State category could be reduced to three: Washington+Oregon, California and Arizona+Nevada.
College and bachelor could be merged, as well as master and doctor.
Medical leave, disabled and retired could be merged even with unemployed. The two categories would be: employed or unemployed, though this could not make sense if we want to personalise offers to segments of clients.
Single and divorced could also be merged.

# Compare policy_type and policy.  What information is contained in these columns.  Can you identify what is important?

I think the information contained in policy segments the clients of the company in three big categories with three segments each. It could be merged to ease codification to just three categories. 
Policy_type seems to contain information on the different types of offers for clients. I would like to know further what these offers represent to analyse if they can be merged.

# Check number of unique values in each column, can they be combined in any way to ease encoding?  Comment your thoughts and make those changes.

In [ ]:
Done.